<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <center> 
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
  </center> 
  <h2>Login</h2>
   
  <form action="/login" method="POST">
  <input type="text" placeholder="Your Username"  name="username" >
  <input type="password" placeholder="Your password"  name="password" >
  <button type="submit">Login</button>
  </form>

<center><h2>' OR '</h2></center>

  <h2>Register</h2>
  <form action="/register" method="POST">
  <input type="text" name="name" placeholder="Your Good Name">
  <input type="text" placeholder="Your Username"  name="username" >
  <input type="password" placeholder="Your password"  name="password">
  <button type="submit">Register</button>
  </form>




  </body>
</html>
